- var header_link_twitter  = "https://twitter.com/@FluenceOne"
- var header_link_telegram = "https://t.me/joinchat/AAEssEJVYu-7YvRc0XNZaQ"
- var header_link_btc      = "https://bitcointalk.org/index.php?topic=2744525"
- var header_link_github   = "https://github.com/FluenceLabs"

.header-main
    h1 Unstoppable data&nbsp;storage
        span  for Web&nbsp;3.0 applications
    p Fluence is a network of independent nodes that provide a decentralized, end-to-end encrypted database service. Scalable, reliable and secured by blockchain.

.header-buttons
    a.button(href=header_link_telegram)
        span.icon
            include ../../img/social-tg.inline.svg

        | Join Telegram
    a.button(href="https://github.com/fluencelabs/fluence") Try out    

    ul
        li: a(href=header_link_twitter)
            include ../../img/social-tw.inline.svg

        li: a(href=header_link_telegram)
            include ../../img/social-tg.inline.svg

        li: a(href=header_link_btc)
            include ../../img/social-btc.inline.svg

        li: a(href=header_link_github)
            include ../../img/social-gh.inline.svg
